/* Extra Styles */


/* Index styles */
/* The explore and return to main site buttons */
.indexBtns {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Hover affect on The explore and return to main site buttons */
.indexBtns:hover {
    background-color: #0056b3;
}
