/* Layout 2 */


/* Containers */
/* Used to contain content and contrast "main" */
.contentContainer {
    background: rgb(255,255,255,0.9);
    padding: 20px;
    border-radius: 12px;
    max-width: 1020px;
    margin: 0 auto;
    min-height: 250px;
}

/* Temporary Container to show construction */
.constructionContentContainer {
    color: red;
    background: rgb(255,255,255,1);
    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}


/* Nav Styles */
/* Wrapper of all navigation and buttons */
nav {
    background-color: #333;
    padding: 10px 0;
    margin-top: 5px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* List that holds all navigation items */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

/* Individual navigation item (one per link) */
nav ul li {
    margin: 0 15px;
}

/* The Style of each individual link */
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

/* The Dynamic style when the button is hovered over */
nav ul li a:hover {
    color: #ff5733; 
}

/* Highlights what page the user is on  */
.activeNav {
    color: #ff5733; /* Bright orange */
    font-weight: bold;
    border-bottom: 2px solid #ff5733;
}


/* Logo Styles */
/* The main site logo */
.mainLogo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #EB4343;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-bottom: 10px;
}

/* The logo in the footer */
.footerLogo {
    max-width: 120px;
    border-radius: 12px;
}

/* the welcome logo on the index */
.welcomeLogo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #EB4343;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-bottom: 10px;
}


/* Other Global Styles */
/* Chapter Line */
.subBrand {
    font-size: 1rem;
    color: #bbb;          
    text-transform: uppercase;
    letter-spacing: 1px;  
    margin: 3px 0;
}

/* Our tagline */
.tagline {
    font-style: italic;
    margin: 5px 0;
    color: #ffffff;
    font-size: 1rem;
}

/* All textboxes */
.textBox, .centerTextBox {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(20, 20, 20, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* All textbox paragrapghs */
.textBox p {
    padding: 5px;
    line-height: 1.7;
    text-align: left;
}

/* Some textboxes needs centred text*/
.centerTextBox p {
    padding: 5px;
    line-height: 1.7;
    text-align: center;
}

/* Styling the links inside the textbox */
.textBox a {
  color: #a31212; 
  text-decoration: underline;
  font-style: italic;
  transition: color 0.3s ease;
}

/* Styling the links inside the textbox once hovered over.*/
.textBox a:hover {
  color: #2c0303;
  text-decoration: underline;
}

/* Styling the links inside the centered textbox */
.centerTextBox a {
  color: #a31212; 
  text-decoration: underline;
  font-style: italic;
  transition: color 0.3s ease;
}

/* Styling the links inside the centered textbox once hovered over.*/
.centerTextBox a:hover {
  color: #2c0303;
}
